.header{
  text-align: center;
  color: blue;
}

.headerInner{
  width: 20%;
}

.myImages{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;
} 

.MainDiv{

  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 100px;


}